language: c
dist: trusty
sudo: required

cache:
  directories:
  - .psc-package
  - output
  
env:
  - PATH=$HOME/purescript:$PATH
  
install:
  - TAG=v0.10.3
  - wget -O $HOME/purescript.tar.gz https://github.com/purescript/purescript/releases/download/$TAG/linux64.tar.gz
  - tar -xvf $HOME/purescript.tar.gz -C $HOME/
  - chmod a+x $HOME/purescript
  
script:
  - psc-package init
  - psc-package verify-set
