name: build

on:
  pull_request:
    branches: master
  push:
    branches: master

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          persist-credentials: false
          fetch-depth: 0

      - uses: cachix/install-nix-action@v12
        with:
          nix_path: nixpkgs=channel:nixos-20.09

      - name: Generate packages.json file from the package set
        run: |
          # Generate the new packages.json file
          nix-shell --run 'make generate'

          # Run verification steps
          nix-shell --run 'make verify-registry'
          nix-shell --run 'make test-psc-package'

      - name: Check for and commit modified files
        id: git-check
        run: echo ::set-output name=modified::$(if git diff-index --quiet HEAD --; then echo "false"; else echo "true"; fi)

      - name: Push changes
        if: steps.git-check.outputs.modified == 'true'
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'actions@github.com'
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git pull --ff-only
          git commit -am "Update packages.json file"
          git push

      - uses: actions/cache@v2
        with:
          path: |
            output
            .psc-package
          key: ${{ runner.os }}-build-products

      - run: nix-shell --run 'cd src && spago verify-set'
